<h1>New Web Call</h1>

<%= render 'form', web_call: @web_call %>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  <i class="bi bi-tools" style="font-size: 2rem; color: cornflowerblue;"></i>talk to tech
</button>

<%= link_to 'Back', web_calls_path %>
