
<div class="container pb-5">
	<div class="row">
		<%= image_tag("warranty-fineprint", class:"img-fluid ", alt: "Warranty fineprint look close") %>

	</div>
	<div class="row">
		<div class="col-xs lead pt-4">
					<h3>Title of article some length</h3>
		</div>
		<div class="w-100"></div>
		<div class=" col pb-4">
			<strong>By: Oscar Chairez Jan 03, 2015</strong>
	</div>
	</div>
	<div class="row">
		 <div class="col-md-3 d-none d-md-block legend"> 
		 	<div class="sticky-top">
		 	<h3>
		 		<strong>title</strong>
		 	</h3>

		 	<ul>
				<li><a href="#1">ancor1</a></li>
				<li><a href="#2">ancor2</a></li>
				<li><a href="#3">ancor3</a></li>
				<li><a href="#4">ancor4</a></li>
				<li><a href="#5">ancor5</a></li>
				<li><a href="#6">ancor6</a></li>
				<li><a href="#7">ancor7</a></li>
				<li><a href="#1">ancor</a></li>
				<li><a href="#1">ancor</a></li>
			</ul>
			<strong>topic</strong>
			<ul>
				<li><a href="#1">ancor</a></li>
				<li><a href="#1">ancor</a></li>
				<li><a href="#1">ancor</a></li>
				<li><a href="#1">ancor</a></li>
				<li><a href="#1">ancor</a></li>
			</ul>
		</div>
	    </div>


		<div class="col-md">
			
			<div class="row">

				<div class="col-lg  p-4">
					<h4 id="1">...</h4>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Calere perspici loqueretur rutilius repellat, equos manilium ornatum dividendo invidus finitum ponti facilius docere, te beatus iustioribus scripserit. Totus corrigere his, solet artes ut ista corrumpit volunt. Capti pararetur partem collegi paratus cognosci phaedrum conducunt, latinas imperitos non noster alias torquate gravissimis virtutum comit, sapientes inanium pugnantibus tenebimus zenonem docere praestabiliorem hominem metuque. Maestitiam pleniorem cur deseruisse ornateque exeamus sine epicuro monstruosi. Suis diogenem graeca comparat praeda magis, militaris voluptates invidus ullo.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inpendente posidonium ignota, futura dolor porro necessariam illi confirmare, alterum maximi commodi vi. Comparare, dicitur declinabunt assecutus vidit legum perpaulum amet controversia, oculis ea harum amputata instituit iudicante confidam disputando interiret, refugiendi, plerisque numen muniti sanguinem errore eamque fructu degendae artem, concessum facile ignavia architecto sapienti semper. Metu, tribuat tempora dixerit dedocere poena corrigere dolore amicis dicere nonne, humili, perspici mutans modice dictas errorem foris. Iisque amori iniuria nihilo propriae accusamus. Poetis.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temeritas erant conscientiam, gravissimas, vivendo movere, intellegaturque remissius virtutibus naturalem falso requirere natura invenire simulent. Delectant minuendas sermo, tam utens, molestia magnitudinem. Apertam quadam graviterque aspernari leniat reperiri phaedrum exercitus. Nulli, operis musicis ingeniis quando natus torquentur expedire, involuta nescius, divitias quin audiebamus tuemur, choro nemo accedit caelo amici indoctis dare perturbari nati latinas, perpetua stulti hominum praetermittatur summis dicent inventore dissident appareat sit, aegritudine locum iusteque apertam quot, eamque, tu delicata.
				</div>
				
				<div class="col-lg  p-4">
					<h4 id="2">...</h4>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Calere perspici loqueretur rutilius repellat, equos manilium ornatum dividendo invidus finitum ponti facilius docere, te beatus iustioribus scripserit. Totus corrigere his, solet artes ut ista corrumpit volunt. Capti pararetur partem collegi paratus cognosci phaedrum conducunt, latinas imperitos non noster alias torquate gravissimis virtutum comit, sapientes inanium pugnantibus tenebimus zenonem docere praestabiliorem hominem metuque. Maestitiam pleniorem cur deseruisse ornateque exeamus sine epicuro monstruosi. Suis diogenem graeca comparat praeda magis, militaris voluptates invidus ullo.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cognitionis divina libro liberatione robustus explicatis faciendumve plus ornateque, hortensio conveniunt conscientia inliberali poterit. Choro incorruptis minuti iudicari debitis sententiae collegi rationem, animis, hortensio, idcirco exeduntur inducitur disciplinae, historiae sequatur temperantia legendi doctrina insitam, albuci nostro democritea utilitate affirmatis operam nosque. Mala importari interpretaris omnino caeco summam fatendum vivi. Perspicuum metu profectus adduci transferam amice ennius explicavi, maximi venustate, prospexit inter tollit seiungi nosque discordia malivoli persequeretur aliud fecit, aperiri exquisitaque eosdem.

				</div>
			</div>
			<div class="row">
				<div class="col-3"><%= image_tag("washer100.png",  alt: "Third Slide") %>
				</div>
				<div class="col-9">
					<div class="card-body">
					    <h5 class="card-title">Card title</h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
					  </div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg  p-4">
					<h4 id="3">...</h4>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Calere perspici loqueretur rutilius repellat, equos manilium ornatum dividendo invidus finitum ponti facilius docere, te beatus iustioribus scripserit. Totus corrigere his, solet artes ut ista corrumpit volunt. Capti pararetur partem collegi paratus cognosci phaedrum conducunt, latinas imperitos non noster alias torquate gravissimis virtutum comit, sapientes inanium pugnantibus tenebimus zenonem docere praestabiliorem hominem metuque. Maestitiam pleniorem cur deseruisse ornateque exeamus sine epicuro monstruosi. Suis diogenem graeca comparat praeda magis, militaris voluptates invidus ullo.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inprobitatem maestitiam videmus existimant orationis eosque molestiam filio, arridens epicurei corpus dominationis, moveat ferant accedit turbulenta iudicat per senserit tranquillitatem, triarius civium iudicant, ipsis dedocere rudem macedonum admirer disserunt, hostis hominem filio, tranquillitatem temporis vias inducitur idque ille cumanum constituant reiciendis aristippus, dialectica erudito auctori quidem vivi, inveniri erimus conetur adamare defuturum esse cognitionis. Confidet vindicet patriam negarent arridens elaborare, expetendis laus solum, parum se videor. Civium fabulae victi verbis labefactant maerores.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipiscendarum tribus civium contineret, sapientia vivere cohaerescant, multis accuratius via titillaret albuci, virtutem at nonne cernimus ac homine, spatio, vituperatum sollicitudines claris triario disciplinam ponendam admirer, data evertitur orestem iudicare partes inventore audaces, quondam discordia pariuntur tuo paratus peccant miserius, igitur scriptorem inquam infanti asperner parentes possim movere. Desideraret firme beateque interpretaris affectus optimus legemus expediunt habeat horrent. Turpis summam defensa refugiendi, philosophiae familias aperta proprius beatam contemnere mox probet, caelo afferat.
				</div>
				
				<div class="col-lg  p-4">
					<h4 id="4">...</h4>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Calere perspici loqueretur rutilius repellat, equos manilium ornatum dividendo invidus finitum ponti facilius docere, te beatus iustioribus scripserit. Totus corrigere his, solet artes ut ista corrumpit volunt. Capti pararetur partem collegi paratus cognosci phaedrum conducunt, latinas imperitos non noster alias torquate gravissimis virtutum comit, sapientes inanium pugnantibus tenebimus zenonem docere praestabiliorem hominem metuque. Maestitiam pleniorem cur deseruisse ornateque exeamus sine epicuro monstruosi. Suis diogenem graeca comparat praeda magis, militaris voluptates invidus ullo.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hominum crudelis facio doctiores. Erit tollatur tractat quaerendum loca occultarum factis detracto, euripidis hunc soliditatem provincia, facilis debitis. Magnis succumbere causa. Tandem, probaretur iudicia amatoriis impediri, interesse. Alias ponti debet arbitrium aiebat. Vero interesse acri sinat beatam iniucundus consequamur quocirca eosque arbitrantur, defendere metus ignavia existunt, electis, commodis aspernatur honesta arare exedunt ornateque doctissimos. Simplicem horrida, quoquo iudicem hosti ratio definitiones graviter mutae, putet saluto utilitas. Convicia conscientiam dicta probarentur notae, numquidnam.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Moderatius malarum didicisset. Sedentis, que caecilii ignaviamque conflixisse motu debet, miraretur ducimus sapienter minuti interiret conficiuntque conetur audeam, summum graviter quaeritur incurrunt legatis solitudo individua deterruisset interesse carum, probaturum loca deterret, desiderant invitat, provident num theophrasti dedecora afferre emolumenti, meam. Adquiescere restat aliud lucilius desistemus tu iudicant, saxum posteri simplicem explicatis perveniri, dictum. Dicant cepisse discere magna admodum, mors, pugnantibus stabilique innumerabiles paratus usu ego primisque fugiendis, officii efficiatur sublatum adipiscuntur conturbamur.
				</div>
			</div>
			<div class="row">
				<div class="col-3"><%= image_tag("wash.jpg", class: "img-fluid img-thumbnail", alt: "Third Slide") %>
				</div>
				<div class="col-9">
					<div class="card-body">
					    <h5 class="card-title">Card title</h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
					  </div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg  p-4">
					<h4 id="5">...</h4>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Calere perspici loqueretur rutilius repellat, equos manilium ornatum dividendo invidus finitum ponti facilius docere, te beatus iustioribus scripserit. Totus corrigere his, solet artes ut ista corrumpit volunt. Capti pararetur partem collegi paratus cognosci phaedrum conducunt, latinas imperitos non noster alias torquate gravissimis virtutum comit, sapientes inanium pugnantibus tenebimus zenonem docere praestabiliorem hominem metuque. Maestitiam pleniorem cur deseruisse ornateque exeamus sine epicuro monstruosi. Suis diogenem graeca comparat praeda magis, militaris voluptates invidus ullo.
					<a id="7"></a>

					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum sapientes me sic locatus effugiendorum, declinabunt tranquilli timeret. Necessariam virtute laudantium nihil, latinas sero epularum opus, ortum desiderent iudicio nos comparaverit fingitur nulli, transferrem quot conformavit forensibus, finitum interpretaris praesens continens iudex effici mente infimum. Contra, posuit tollatur nixam, dissensio quasi propter earumque cadere inanitate animis. Haec conficiuntque, maluisset consequentis dissentio eitam, dum pariter versuum vituperatoribus legere nullae facimus vituperatoribus infinito, pugnare medeam conversa commodis optabilem tribus atomus quamvis fecerit de.
				</div>
				
				<div class="col-lg  p-4">
					<h4 id="6">...</h4>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Calere perspici loqueretur rutilius repellat, equos manilium ornatum dividendo invidus finitum ponti facilius docere, te beatus iustioribus scripserit. Totus corrigere his, solet artes ut ista corrumpit volunt. Capti pararetur partem collegi paratus cognosci phaedrum conducunt, latinas imperitos non noster alias torquate gravissimis virtutum comit, sapientes inanium pugnantibus tenebimus zenonem docere praestabiliorem hominem metuque. Maestitiam pleniorem cur deseruisse ornateque exeamus sine epicuro monstruosi. Suis diogenem graeca comparat praeda magis, militaris voluptates invidus ullo.
				</div>
			</div>
		</div>
	</div>

</div>
<%= render 'web_calls/form', web_call: @web_call %>


	
