<div class="container">
<h1>Usefule Links to Popular Manufactures</h1>

<p>here you will find information such as helpful links to your manufacture websites. you may be able to check on warranty status of your appliance, order parts for your appliance or schedule an appointment with a factory technican.
</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Do We Service?</th>
      <th scope="col">Manufacture</th>
      <th scope="col">WebLink</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">yes</th>
      <td>whirlpool</td>
      <td>https://www.whirlpoolparts.com/ </td>
    </tr>
    <tr>
      <th scope="row">no</th>
      <td>sub zero</td>
      <td>https://www.subzero-wolf.com/assistance</td>
    </tr>
    <tr>
      <th scope="row">yes</th>
      <td>kitcehnaid</td>
      <td>https://www.kitchenaid.com/service-and-support.html</td>
    </tr>
  </tbody>
</table>


</div>
<%= render 'web_calls/form', web_call: @web_call %>
